{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Homepage</title>
{% endblock %}


{% block content %}

    <div class='row text-center' style='margin-top: 10px;'>
        <div class='col'>
            <h1>Welcome to Pemoranch</h1>
        </div>
    </div>

    <div class='row mb-4'>
        <div class='col-md-3 mx-auto col-10'>
            <form method='POST' class='form' id='pemoran-create-form' action='/create-pemoran'>
                {% csrf_token %}
                <div class='d-none alert alert-danger' id='pemo-create-form-error'></div>
                <input type='hidden' value='/' name='next' />
                <textarea class='form-control' name='content' placeholder='Create your pemoran'></textarea>
                <button type='submit' class='btn btn-primary'>Create Pemoran</button>
            </form>
        </div>
    </div>

    <div class='row' id='pemos'>

    </div>

    <script>

        function handling_form_submision(event) {
            event.preventDefault(); // Prevent the default form submission behavior
        
            // Get the form data
            const formData = new FormData(event.target);

            const content = formData.get('content');
            if (!content.trim()) {
                return;
            }
        
            // Create a new XMLHttpRequest object
            const xhr = new XMLHttpRequest();
            const method = 'POST';
            const url = '/create-pemoran';
            const responseType = 'json';
        
            xhr.responseType = responseType;
            xhr.open(method, url);
            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest')
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        
            xhr.onload = function() {

                if (xhr.status === 201) {
                    handleFormError("", false);
                    const newPemoJSON = xhr.response;
                    const newPemoElem = formatingItemString(newPemoJSON);
                    pemosContainerElement.innerHTML = newPemoElem + pemosContainerElement.innerHTML;
                    formData.reset();

                } else if (xhr.status === 400) {
                    const errorJson = xhr.response;
                    const contentError = errorJson.content;
    
                    if (contentError && contentError[0]) {
                        handleFormError(contentError[0].message, true);
                    } else {
                        handleFormError('An error occurred. Please try again.', true);
                    }

                } else if (xhr.status === 401) {
                    alert('You must log in');
                    window.location.href = '/login'
                } else if (xhr.status === 403) {
                    alert('You must log in');
                    window.location.href = '/login' 
                } else if (xhr.status === 500) {
                    alert('There was a server error. Please try again.')
                }
    
                loadPemorans(pemosContainerElement);
            };
    
            xhr.onerror = function() {
                alert('An error occurred. Please try again later.');
            };
    
            xhr.send(formData);
        }

        function handleFormError(msg, display) {
            let errorDiv = document.getElementById('pemo-create-form-error');
            
            if (display === true) {
                errorDiv.setAttribute('class', 'd-block alert alert-danger');
                errorDiv.innerText = msg;
            } else {
                errorDiv.setAttribute('class', 'd-none alert alert-danger');
            }
        }
        
        
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();

                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        

        const pemoranCreateForm = document.getElementById('pemoran-create-form');
        pemoranCreateForm.addEventListener('submit', handling_form_submision);

        const pemosContainerElement = document.getElementById('pemos');

        function loadPemorans(pemosElement) {
            const xhr = new XMLHttpRequest();
            const method = 'GET';
            const url = '/pemos';
            const responseType = 'json';

            xhr.responseType = responseType;
            xhr.open(method, url);
            xhr.onload = function() {
                const serverResponse = xhr.response;
                let items = serverResponse;
                let pemoString = '';
                
                for (let i = 0; i < items.length; i++) {
                    let item = formatingItemString(items[i]);
                    pemoString += item;
                }
                pemosElement.innerHTML = pemoString;
            }

            xhr.send();
        }

        loadPemorans(pemosContainerElement);
        
        function handlePemoAction(pemo_id, count, action) {

            const xhr = new XMLHttpRequest();
            const method = 'POST';
            const url = '/api/pemos/action/'
            const data = JSON.stringify({ id: pemo_id, action: action });
            const responseType = 'json';
        
            xhr.responseType = responseType;
            xhr.open(method, url);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
            xhr.setRequestHeader('HTTP_X_REQUESTED_WITH', 'XMLHttpRequest');
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        
            xhr.onload = function() {
                if (xhr.status === 200) {
                    loadPemorans(pemosContainerElement);
                } else {
                    alert("An error occurred. Please try again later.");
                }
            }
        
            xhr.onerror = function() {
                alert('An error occurred. Please try again later.');
            }

            xhr.send(data);
        }

    

        function likeBtn(pemo) {
            return "<button class='btn btn-primary btn-sm' onclick=handlePemoAction("
                + pemo.id + "," + pemo.likes + ",'like')>" + pemo.likes + " Likes</button>";
        }
        
        function unlikeBtn(pemo) {
            return "<button class='btn btn-outline-primary btn-sm' onclick=handlePemoAction("
                + pemo.id + "," + pemo.likes + ",'unlike')>UnLike</button>";
        }

        function rePemoBtn(pemo) {
            return "<button class='btn btn-outline-success btn-sm' onclick=handlePemoAction("
                + pemo.id + "," + pemo.likes + ",'repemo')>RePemo</button>";
        }

        function formatingItemString(pemo) {
            let formatedItem = "<div class='col-12 col-md-9 mx-auto border rounded py-2 mb-4 pemo' id='pemo-" + pemo.id 
                + "'><h4>" + pemo.content +
                    "</h4><div class='btn btn-group'>" + 
                        likeBtn(pemo) +
                        unlikeBtn(pemo) +
                        rePemoBtn(pemo) +
                    "</div></div>";
            return formatedItem;
        }
    
        
    </script>
{% endblock %}
