{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Homepage</title>
{% endblock %}


{% block content %}

    <div class='row text-center' style='margin-top: 10px;'>
        <div class='col'>
            <h1>Welcome to Pemoranch</h1>
        </div>
    </div>

    <div class='row' id='pemos'>

    </div>

    <script>
        const pemosElement = document.getElementById('pemos');
    
        const xhr = new XMLHttpRequest();
        const method = 'GET';
        const url = '/pemos';
        const responseType = 'json';

        function likeBtn(pemo) {
            return "<button class='btn btn-primary btn-sm' onclick=handleLike("
             + pemo.id + "," + pemo.likes + ")>" + pemo.likes + " Likes</button>";
        }
        
        function handleLike(pemo_id, count) {
            console.log(pemo_id, count);
        }

        function formatingItemString(pemo) {
            let formatedItem = "<div class='col-12 col-md-9 mx-auto border rounded py-2 mb-4 pemo' id='pemo-" + pemo.id 
                + "'><h4>" + pemo.content +
                    "</h4><div class='btn btn-group'>" + likeBtn(pemo) +
                    "</div></div>";
            return formatedItem;
        }
    
        xhr.responseType = responseType;
        xhr.open(method, url);
        xhr.onload = function() {
            const serverResponse = xhr.response;
            let items = serverResponse.responce;
            let pemoString = '';
    
            for (let i = 0; i < items.length; i++) {
                let item = formatingItemString(items[i]);
                pemoString += item;
            }
            pemosElement.innerHTML = pemoString;
        }

        xhr.send();
    </script>
{% endblock %}
