<header>
    <div class='logo'>
        <a href="{% url 'homepage' %}">Pemoranch</a>
    </div>
    <div class='hamburger'>
        <div class='line'></div>
        <div class='line'></div>
        <div class='line'></div>
    </div>
    <nav class='nav-bar'>
        <ul>
            <li>
                <a href="{% url 'homepage' %}" class='active'>Home</a>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}

            <li>
                <a href="{% url 'registration' %}">Register</a>
            </li>

            
        </ul>
    </nav>
</header>